"*":
  editor:
    invisibles: {}
    scrollPastEnd: true
    softWrapHangingIndent: 2
    tabType: "soft"
    fontFamily: "menlo"
    showInvisibles: true
  core:
    packagesWithKeymapsDisabled: [
      "word-jumper-deluxe"
      "center-line"
      "atom-ctags"
      "highlight-line"
    ]
    disabledPackages: [
      "symbols-view"
      "tabs"
      "whitespace"
      "autocomplete-snippets"
      "snippets"
      "atom-ctags"
    ]
    themes: [
      "one-dark-ui"
      "jg-dark-syntax"
    ]
  "exception-reporting":
    userId: "3fcd4e54-0b9e-4eb5-08d2-ab849b79a7ab"
  welcome:
    showOnStartup: false
  metrics:
    userId: "bce55d26bfba6314fb2f66c6fd194b160ce2b763"
  "disable-keybindings":
    communityPackages: [
      "transient-emacs"
    ]
  "word-jumper-deluxe": {}
  "center-screen": {}
  "atom-terminal-panel": {}
  "expand-region": {}
  "autocomplete-plus":
    enableAutoActivation: false
  atomatigit: {}
  minimap:
    plugins:
      selection: true
  "minimap-selection":
    highlightCursorsLines: true
  "highlight-line":
    hideHighlightOnSelect: true
  "keyboard-scroll":
    linesToScrollSingle: 15
    animationDuration: 50
  "cursor-history": {}
  "tab-switcher":
    fadeInDelay: 0
  "atom-ctags":
    cmdArgs: "--exclude=.gems --exclude=solr4 --exclude=solr5 --exclude=solr"
    buildTimeout: 90000
  linter:
    lintOnFly: false
  "linter-erb": {}
  "git-projects":
    rootPath: "~/dev;~/openlogic"
  "git-plus": {}
  rspec: {}
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
  "linter-ruby": {}
  "one-dark-ui": {}
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  navigate: {}
  "clipboard-plus":
    maximumLinesNumber: 3
    maximumTextLength: 5000
  "git-blame":
    customCommitUrlTemplateString: "http://gitlab.openlogic.local/openlogic/<%- repo %>/commit/<%- revision %>"
    ignoreWhiteSpaceDiffs: true
  "linter-jshint": {}
  "language-babel": {}
  "advanced-open-file":
    defaultInputValue: "Project root"
  "comint-mode": {}
".js.jsx.source":
  editor:
    softWrapHangingIndent: 2
".babel.regexp.source":
  editor:
    softWrapHangingIndent: 2
